.red {
    background-color: coral;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: greenyellow;
}

.blue {
    background-color:lightskyblue;
}